body{
    background-color: blue;
}
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 666px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .close-icon {
    font-size: 36px;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: #FE0077;
  }  
  .header h2 {
    margin: 0;
  }
  
  .content {
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: black;
    border: 6px #7D86A9 solid;
  }  
  .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
  }
  ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    margin-left: -14px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #7D86A9;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #7D86A9;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    /* color: #01447e; */
    text-decoration: underline;
  }    
