        /* CSS code */

        /* Common styles */
        body {
          margin: 0;
          padding: 0;
          font-family: 'Roboto', sans-serif;
          background-color: #f5f5f5;
      }

      /* Header */
      .header {
          background: transparent linear-gradient(180deg, #211F1F 0%, #3B3939 100%) 0% 0% no-repeat padding-box;
          opacity: 1;
          color: #fff;
          padding: 20px;
          text-align: center;
      }

      .header img {
          width: 215px;
          height: 56px;
      }

      /* Subheader */
      .subheader {
          top: 160px;
          left: 0px;
          width: 100%;
          height: 20px;
          background: #FE077C 0% 0% no-repeat padding-box;
          opacity: 1;
      }

      /* Container */
      .container {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          height: 100vh;
          margin-top: 70px;
          padding: 20px;
      }

      /* Card */
      .card {
          background-color: #fff;
          padding: 50px;
          border-radius: 20px;
          box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
          width: 350px;
      }

      .card h2 {
          margin-bottom: 10px;
          margin-top: -5px;
          font-size: 36px;
          text-align: center;
      }

      .card p {
          margin-bottom: 20px;
          font-size: 14px;
          text-align: center;
      }

      .card input[type="text"] {
          width: 90%;
          padding: 12px;
          margin-bottom: 25px;
          border: 1px solid #ccc;
          border-radius: 25px;
      }

      .card input[type="text"]::placeholder {
          text-indent: 10px;
      }
      .card input[type="submit"] {
          background-color: #FE077C;
          width: 100%;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 25px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s ease;
      }

      .card input[type="submit"]:hover {
          background-color: #f977b2;
      }

      /* Media Queries */
      @media only screen and (max-width: 768px) {
          .header img {
              width: 160px;
              height: 42px;
          }
      }

      @media only screen and (max-width: 480px) {
          .header {
              padding: 10px;
          }

          .header img {
              width: 120px;
              height: 32px;
          }

          .subheader {
              top: 130px;
          }

          .card {
              width: 90%;
          }

          .card h2 {
              font-size: 24px;
          }

          .card p {
              font-size: 12px;
          }

          .card input[type="text"] {
              padding: 10px;
          }

          .card input[type="submit"] {
              padding: 8px 16px;
          }
      }