<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/css/dashboard.css">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>
    <section id="menu">
        <div class="logo">
            <img src="../Resources/assets/UEP copy.png" alt="UEPVIEWER">
        </div>
        <div class="items">
            <li><i class="fad fa-chart-pie-alt"></i><a href="#">Reports</a></li>
            <li><i class="fab fa-uikit"></i><a href="#">Files</a></li>
            <li><i class="fas fa-th-large"></i><a href="#">Events</a></li>
            <li><i class="fas fa-edit"></i><a href="#">Customer Accounts</a></li>
            <li><i class="fab fa-cc-visa"></i><a href="#">Staff</a></li>
            <li><i class="fas fa-hamburger"></i><a href="#">Producers</a></li>
            <li><i class="fas fa-chart-line"></i><a href="#">Orders</a></li>
            <li><i class="fas fa-chart-line"></i><a href="#">Zendesk Chat</a></li>
        </div>

    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="far fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="profile">
                <i class="far fa-bell"></i>
                <img src="../Resources/assets/Oval@2x.png" alt="profile">
            </div>
        </div>

    </section>
</body>
</html>