<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files Event</title>
    <link rel="stylesheet" href="../Resources/css/files_event.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <script>
      function handleFileUpload() {
        console.log("File uploaded");
      }
    </script>
    <script>
      // Check if the user is already logged in
      function checkLoggedIn() {
        var isLoggedIn = sessionStorage.getItem("isLoggedIn");
  
        if (!isLoggedIn) {
          // Redirect to the login page if the user is not logged in
          window.location.href = "../index.html";
        }
      }
      // Handle logout
      function handleLogout() {
        sessionStorage.removeItem("isLoggedIn");
        // Redirect to the login page
        window.location.href = "../index.html";
      }
      // Execute the checkLoggedIn function on page load
      window.addEventListener("load", checkLoggedIn);
    </script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <img src="../Resources/assets/UEP copy.png" alt="UEPViewer">
        </div>
        <div class="navbar-right">
          <div class="notification-icon">
            <img src="../Resources/assets/Notification.png" alt="Notification Icon">
          </div>
          <div class="profile-dropdown">
            <img src="../Resources/assets/Oval.png" alt="Profile Image">
            <div class="dropdown-content">
              <a href="./updatepasword.html">Update Profile</a>
              <a href="../index.html" onclick="handleLogout()">Logout</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="sidenav">
        <div id="menu">
              <ul>
                <li><i class="ri-home-4-fill"></i><a href="./dashboard.html">Reports</a></li>
                <li class="current active"><i class="ri-image-2-fill"></i><a href="./files_event.html">Files</a></li>
                <li><i class="ri-calendar-2-line"></i><a href="#">Events</a></li>
                <li><i class="ri-team-fill"></i><a href="#">Customer Accounts</a></li>
                <li><i class="ri-user-5-fill"></i><a href="#">Staff</a></li>
                <li><i class="ri-user-3-fill"></i><a href="#">Producers</a></li>
                <li><i class="ri-list-unordered"></i><a href="#">Orders</a></li>
                <li><i class="ri-chat-new-fill"></i><a href="#">Zendesk Chat</a></li>
              </ul>
        </div>
      </div>

      <div class="dashboard-content">
        <div class="dash-heading">
          <h2>Files</h2>
          <label for="fileUploadButton" class="upload-button">
            <input type="file" id="fileUploadButton" class="hidden-input" onchange="handleFileUpload()">
            <i class="fa fa-plus" style="margin-right: 5px;"></i> Add Files
          </label>
        </div>
        <ul class="breadcrumb">
          <li><a href="#">Events</a></li>
          <li><a href="#">Folders</a></li>
          <li><a href="#">Party Hub Pass</a></li>
          <li>Event Decoration</li>
        </ul>
        <hr>
      </div>
      
      <div class="card-container">
        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>
        
        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        <div class="card">
          <img class="image" src="https://picsum.photos/280/200" alt="Image">
          <div class="details-container">  
          <p class="file-name">example_file.pdf</p>
          <p class="download-count">Download Count: 100</p>
          <div class="date">May 29, 2023</div>
          <div class="actions">
            <a class="edit-icon" href="#"><i class="fa fa-pen"></i></a>
            <a class="delete-icon" href="#"><i class="fa fa-trash"></i></a>
          </div>
          </div>
        </div>

        
      </div>
</body>
</html>