<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/css/otp.css">
    <title>OTP Verification</title>
</head>
<body>
    <div class="header">
        <img src="../Resources/assets/UEP copy.png" alt="Logo">
    </div>
    <div class="subheader"></div>
    <div class="container">
        <div class="card">
            <h2>OTP Verification</h2>
            <p>Please enter the OTP sent to your email</p>
            <form id="otpForm" onsubmit="handleFormSubmit(event)">
                <input type="text" name="otp" id="otpInput" placeholder="OTP" required><br>
                <input type="submit" value="Verify OTP">
            </form>
        </div>
    </div>

    <script>
        function handleFormSubmit(event) {
            event.preventDefault();

            const otp = document.getElementById("otpInput").value;
            const correctOTP = "123456"; // Define the correct OTP here

            if (otp === correctOTP) {
                // Redirect to the update password page
                window.location.href = "./updatepasword.html";
            } else {
                alert("Incorrect OTP. Please enter the correct OTP.");
            }
        }
    </script>
</body>
</html>
