<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/css/updatepassword.css">
    <title>Update Password</title>
</head>
<body>
    <div class="header">
        <img src="../Resources/assets/UEP copy.png" alt="Logo">
      </div>
      <div class="subheader"></div>
      <div class="container">
        <div class="card">
            <h2>Update Password</h2>
            <p>Please enter your new password</p>

            <form>
                <input type="password" name="password" placeholder="Enter New Password"><br>
                <input type="password" name="password" placeholder="Confirm Password"><br>

                <input type="submit" value="Login">
            </form>
        </div>
      </div>
</body>
</html>